apiVersion: v1
kind: Service
metadata:
  name: identity-api
  namespace: agro-apps
  labels:
    app: identity-api
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  selector:
    app: identity-api
