apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: apps
  namespace: argocd
spec:
  description: TC Agro Solutions microservices
  
  sourceRepos:
    - https://github.com/rdpresser/tc-agro-identity-service.git
    - https://github.com/rdpresser/tc-agro-farm-service.git
    - https://github.com/rdpresser/tc-agro-sensor-ingest-service.git
    - https://github.com/rdpresser/tc-agro-analytics-worker.git
    - https://github.com/rdpresser/tc-agro-dashboard-service.git
    - https://github.com/rdpresser/tc-agro-solutions.git
  
  destinations:
    - namespace: agro-apps
      server: https://kubernetes.default.svc
  
  clusterResourceWhitelist:
    - group: ''
      kind: Namespace
    - group: 'apps'
      kind: Deployment
    - group: 'apps'
      kind: StatefulSet
    - group: ''
      kind: Service
    - group: ''
      kind: ConfigMap
    - group: ''
      kind: Secret
    - group: 'networking.k8s.io'
      kind: Ingress
