# Deprecated: unused in current GitOps setup.
  nodeSelector:
    agentpool: system
  
  tolerations:
    - key: "agentpool"
      operator: "Equal"
      value: "system"
      effect: "NoSchedule"
  
  persistence:
    enabled: true
    size: 2Gi

# Disable other modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
