apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: apps
  namespace: argocd
spec:
  description: Application components (frontend, microservices, etc)
  
  sourceRepos:
    - '*'
  
  destinations:
    - namespace: '*'
      server: https://kubernetes.default.svc
  
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
