apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-api
  namespace: agro-apps
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: identity-api
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
