apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: identity-api
  namespace: agro-apps
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: identity-api
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
